# Django
SECRET_KEY=change-moi-en-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=fixafrik_db
DB_USER=fixafrik_user
DB_PASSWORD=change-moi
DB_HOST=localhost
DB_PORT=5432

# CORS (URL du frontend React)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
